.card-img-container {
    display: flex;
    height: auto;
    padding-top: 2rem;
}



.desc-txt {
    width: 170%;
    z-index: 9;
    line-height: 1.6em;
    margin: 20px 0;
    margin-bottom: 40px;

}


.img-container {
    flex: content;
    flex-shrink: 1;
}

.img-cover {
    max-width: 100%;
    max-height: 100%;
    opacity: 0.8;
    
}

.desc-container {
    margin: 25px;
    /* box-shadow: 150px 0px 80px 60px #0f171e;*/

    box-shadow: 200px 0px 65px 30px #0f171e;
    z-index: 2;
}
.txt-box{
    margin: 4px;
    border: 2px solid rgb(179, 165, 165);
}

.btns-container {
    display: flex;
    gap: 1rem;
}

.btn-borders {
    border-radius: 50%;
    background-color: #425265;
    text-align: center;
    display: inline;

}

.playbtn-ctnr {
    margin-top: 15px;
    margin-right: 15px;

}

.play-btn {
    background-color: #0f79af;
    padding: 1.5rem 2rem;
    color: white;

}

.btn-borders>svg {
    flex: auto;
    display: block;
    padding: 0.5rem;
    margin-top: 5px;
    margin-left: 3px;
}
@media screen and (max-width:600px) {
    .card-img-container {
        flex-direction: column-reverse;
    }
  
    .desc-container{
        width: 100%;
    }
    .desc-txt {
        width: 100%;
        white-space: pre-line;
    }
   
}