

.footer-container{
    width: 100%;
text-align: center;
font-size: 13px;
margin: 30px;
}
.footer-list{
    display: flex;
    list-style: none;
    margin: 0 auto;
    justify-content: center;
    
    }
    .footer-item{
    padding: 0 1rem;  
}

a{
    text-decoration: none;
    color: #79b8f3;
    font-size: 15px;
}